form {
  position: relative;
  top: 30%;
  margin: 0 auto;
  max-width: 500px;
  transition: 0.8s 0.5s;
}
input {
  width: 100%;
  border: none;
  background-color: #ffffff;
  font-size: 16px;
  padding: 10px 15px 10px 40px;
  color: #c5c5c5;
  transition: 0.2s;
  border-radius: 20px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
input:focus {
  color: #191919;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  outline: none;
}
span {
  display: block;
  position: absolute;
  top: 50%;
  left: 22px;
  transform: translate(-50%, -50%);
  height: 14px;
  width: 14px;
  font-size: 14px;
  color: #c5c5c5;
}
@media screen and (min-width: 768px) {
  input {
    font-size: 18px;
  }
  span {
    height: 15px;
    width: 15px;
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) {
  input {
    padding: 15px 20px 15px 45px;
    border-radius: 30px;
  }
  span {
    height: 16px;
    width: 16px;
    font-size: 16px;
  }
}
@media screen and (min-width: 1440px) {
  form {
    max-width: 600px;
  }
}
@media screen and (min-width: 2560px) {
  form {
    max-width: 700px;
  }
}
